{% extends "base.html" %}
{% block main %}
<h1>libraryupgrader</h1>
<blockquote>
    <p>
        libraryupgrader aka "libup" tracks dependencies in code we use and bumps them
        as necessary.

        Currently focusing on PHP and nodejs repositories, with more planned.

        It is currently tracking {{count}} repositories.
    </p>
</blockquote>

<ul>
    <li><a href="{{url_for('library_index')}}">tracked libraries</a></li>
    <li><a href="{{url_for('r_index')}}">tracked repositories</a></li>
    <li><a href="{{url_for('vulns_npm')}}">vulnerabilities in npm dependencies</a></li>
</ul>

{% endblock %}
