{% extends "base.html" %}
{% block subtitle %}{{repo}}{% endblock %}
{% block main %}
<h1>{{manager}}: {{name}}</h1>
<p><a href="{{library.link}}">{{library.description()}}</a></p>
<p>Latest version: <code>{{library.latest_version()}}</code></p>
<p>
    <a href="https://gerrit.wikimedia.org/r/plugins/gitiles/labs/libraryupgrader/config/+/master/releases.json">Good/approved version(s)</a>:
    {% if library.safe_versions() %}
    {% for ver in library.safe_versions() %}
    <code>{{ver}}</code>,
    {% endfor %}
    {% else %}
    none
    {% endif %}
</p>
<h3>Repositories using:</h3>
{% if used.deps %}
<h5>Dependencies</h5>
{% for version, repos in used.deps.items()|sort|reverse %}
<p><code>{{version}}</code>: {{len(repos)}} repositories</p>
<ul>
    {% for repo in repos|sort %}
    <li>{% if repo in errors %}❌ {% endif %}{% if repo in canaries %}🦆 {% endif %}<a href="{{url_for('r', repo=repo)}}"><code>{{repo}}</code></a></li>
    {% endfor %}
</ul>
{% endfor %}
{% endif %}
{% if used.dev %}
<h5>Development dependencies</h5>
<!-- TODO use a semver sort -->
{% for version, repos in used.dev.items()|sort|reverse %}
<p><code>{{version}}</code>: {{len(repos)}} repositories</p>
<ul>
    {% for repo in repos|sort %}
    <li>{% if repo in errors %}❌ {% endif %}{% if repo in canaries %}🦆 {% endif %}<a href="{{url_for('r', repo=repo)}}"><code>{{repo}}</code></a></li>
    {% endfor %}
</ul>
{% endfor %}
{% endif %}
{% endblock %}
