{% extends "base.html" %}
{% block subtitle %}{{repo}}{% endblock %}
{% block main %}
<h1>{{repo}}</h1>
{% if patch %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#patch" aria-expanded="false" aria-controls="patch">
  View proposed patch
</button>
<div class="collapse" id="patch">
    <pre>{{patch}}</pre>
</div>
{% endif %}
{% for manager, info in deps.items()|sort %}
{% if info %}
<h3>{{manager}} dependencies</h3>
{% if info.deps %}
<h5>Dependencies</h5>
<ul>
    {% for library in info.dev|sort %}
    <li>
        <a href="{{url_for('library_', manager=manager, name=library.name)}}"><code>{{library.name}}</code></a>: <code>{{library.version}}</code>
        {% if library.is_newer() %}(<code>{{library.latest_version()}}</code> available{% if library.is_latest_safe() %}✔️{% endif %}){% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% if info.dev %}
<h5>Development dependencies</h5>
<ul>
    {% for library in info.dev|sort %}
    <li>
        <a href="{{url_for('library_', manager=manager, name=library.name)}}"><code>{{library.name}}</code></a>: <code>{{library.version}}</code>
        {% if library.is_newer() %}(<code>{{library.latest_version()}}</code> available{% if library.is_latest_safe() %}✔️{% endif %}){% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endif %}
{% endfor %}
{% if logs %}
<h3>Logs</h3>
<ul>
{% for log in logs %}
<li>{{log}}</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
