{% extends "base.html" %}
{% block subtitle %}{{repo.name}}{% endblock %}
{% block main %}
<h1>{{repo.name}} ({{repo.branch}})</h1>
<a href="https://gerrit.wikimedia.org/g/{{repo.name}}">source</a> • <a href="https://gerrit.wikimedia.org/r/q/project:{{repo.name}}">patches</a>
{% if log[0].patch %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#patch" aria-expanded="false" aria-controls="patch">
  View proposed patch
</button>
<div class="collapse" id="patch">
    <pre>{{log[0].get_patch()}}</pre>
</div>
{% endif %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#logtext" aria-expanded="false" aria-controls="logtext">
  {% if log[0].is_error %}View error log{% else %}View log file{% endif %}
</button>
<div class="collapse" id="logtext">
    <pre>{{log[0].get_text()}}</pre>
</div>
{% for manager, info in dependencies.by_manager().items()|sort %}
{% if info %}
<h3>{{manager}} dependencies</h3>
{% if info.prod %}
<h5>Dependencies</h5>
<ul>
    {% for dep in info.prod|sort %}
    <li>
        <a href="{{url_for('library_', manager=manager, name=dep.name)}}"><code>{{dep.name}}</code></a>: <code>{{dep.version}}</code>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% if info.dev %}
<h5>Development dependencies</h5>
<ul>
    {% for dep in info.dev|sort %}
    <li>
        <a href="{{url_for('library_', manager=manager, name=dep.name)}}"><code>{{dep.name}}</code></a>: <code>{{dep.version}}</code>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endif %}
{% endfor %}
{% if logs %}
<h3>Logs</h3>
<ul>
{% for log in logs %}
<li><a href="{{url_for('logs2', log_id=log.id)}}">{{log.id}}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
