{% extends "base.html" %}
{% block main %}
<h1>Credits</h1>
<blockquote>
    <p>
        LibUp was created on the shoulders of many free software tools and
        libraries and through the input of countless MediaWiki & Wikimedia
        developers. A special thank you to the following individuals for
        their contributions in creating LibUp:
        <ul>
            <li>Kunal Mehta (lead)</li>
            <li>Antoine Musso</li>
            <li>Chad Horohoe</li>
            <li>DannyS712</li>
            <li>James D. Forrester</li>
            <li>MarcoAurelio</li>
            <li>Paladox</li>
            <li>Reedy</li>
            <li>Taavi Väänänen</li>
            <li>Timo Tijhof</li>
            <li>Tyler Cipriani</li>
            <li>Umherirrender</li>
        </ul>
    </p>

</blockquote>
{% endblock %}
