{% extends "base.html" %}
{% block subtitle %}tracked libraries in a table{% endblock %}
{% block main %}
<h1>tracked libraries</h1>

<table class="table table-bordered table-condensed table-responsive">
    <thead>
        <tr>
            <th>Repository</th>
            <th>Wikimedia-deployed</th>
            {% for upstream in want %}
            <th><a href="{{url_for('library_', manager=upstream.manager, name=upstream.name)}}">{{upstream.manager[0]}}:{{upstream.name}}</a></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for repo, libs in sorted(display) %}
        <tr>
            <td>{{macros.repo_link(repo)}}</td>
            <td>{% if repo.is_wm_deployed %}✓{% else %}—{% endif %}</td>
            {% for lib, upstream in libs %}
            {% if lib %}
            <td>{{lib.version}} {% if upstream.latest == lib.version %}✔️{% else %}↑{% endif %}</td>
            {% else %}
            <td>—</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
