{% extends "base.html" %}
{% block subtitle %}tracked libraries{% endblock %}
{% block main %}
<h1>tracked libraries</h1>

<p>
    You can also view this as a table. Presets:
    {% for name, query in table_presets.items() %}
    <a href="{{url_for('library_table', r=query, branch=gbranch)}}">{{name}}</a>
    {% endfor %}.
</p>

{% for manager, deps in used.items()|sort %}
<h3>{{manager}}</h3>
<ul>
    {% for lib, versions in deps.items()|sort %}
    <li><a href="{{url_for('library_', manager=manager, name=lib, branch=gbranch)}}">{{lib}}</a>: {{versions|sort|join(', ')}}</li>
    {% endfor %}
</ul>
{% endfor %}
{% endblock %}
