{% extends "base.html" %}
{% block subtitle %}log #{{log.id}}{% endblock %}
{% block main %}
<h1><a href="{{url_for('r', repo=repo.name, branch=repo.branch)}}">{{repo.name}}</a>: {{repo.branch}} (log #{{log.id}})</h1>
<a href="https://gerrit.wikimedia.org/g/{{repo.name}}/+/refs/heads/{{repo.branch}}">source</a> • <a href="https://gerrit.wikimedia.org/r/q/project:{{repo.name}}+branch:{{repo.branch}}">patches</a>
{% if log.patch %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#patch" aria-expanded="false" aria-controls="patch">
  View proposed patch
</button>
<div class="collapse" id="patch">
    <pre>{{log.get_patch()}}</pre>
</div>
{% endif %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#logtext" aria-expanded="false" aria-controls="logtext">
  {% if log.is_error %}View error log{% else %}View log file{% endif %}
</button>
<div class="collapse" id="logtext">
    <pre>{{log.get_text()}}</pre>
</div>
{% endblock %}
