{% extends "base.html" %}
{% block subtitle %}{{repo}}{% endblock %}
{% block main %}
<h1>{{repo}}</h1>
<a href="https://gerrit.wikimedia.org/g/{{repo}}">source</a> • <a href="https://gerrit.wikimedia.org/r/q/project:{{repo}}">patches</a>
{% if patch %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#patch" aria-expanded="false" aria-controls="patch">
  View proposed patch
</button>
<div class="collapse" id="patch">
    <pre>{{patch}}</pre>
</div>
{% endif %}
{% if log %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#logtext" aria-expanded="false" aria-controls="logtext">
  {% if success %}View log file{% else %}View error log{% endif %}
</button>
<div class="collapse" id="logtext">
    <pre>{{log}}</pre>
</div>
{% endif %}
{% endblock %}
