{% macro repo_icons(repo) -%}
{%- if repo.is_error -%}
<abbr title="Error">❌</abbr>
{%- endif -%}
{%- if repo.is_canary -%}
<abbr title="Canary repository">🦆</abbr>
{%- endif -%}
{%- if repo.is_wm_deployed -%}
<abbr title="Deployed to Wikimedia production wikis">🗄</abbr>
{%- endif -%}
{%- if repo.is_bundled -%}
<abbr title="Bundled in the MediaWiki tarball">🔮</abbr>
{%- endif -%}
{%- endmacro %}

{% macro repo_link(repo, icons=True) -%}
{% if icons %}{{repo_icons(repo)}}{% endif %}<a href="{{url_for('r', repo=repo.name, branch=repo.branch)}}">{{repo.name}}</a>
{%- endmacro %}
