{% extends "base.html" %}
{% block subtitle %}vulnerabilities in npm dependencies{% endblock %}
{% block main %}
<h1>vulnerabilities in npm dependencies</h1>
<blockquote>
    <p>
        {% if advisories %}ugh{% else %}yay{% endif %}, npm.
    </p>
</blockquote>

<p>There are {{len(advisories)}} npm security advisories affecting our repositories.</p>

{% for advisory in advisories.values() %}
<h3>#{{advisory.id}}: {{advisory.module_name}}
    {% if advisory.cves %}(
    {%- for cve in advisory.cves -%}
    <a href="https://nvd.nist.gov/vuln/detail/{{cve}}">{{cve}}</a>{% if not loop.last %}, {% endif %}
    {%- endfor -%}
    ){% endif %}
</h3>
<p>Severity: {{advisory.severity}}</p>
<blockquote class="bg-{{COLORS[SEVERITIES.index(advisory.severity)]}}">
    {{markdown(advisory.overview)|safe}}
    <footer>
        <a href="https://npmjs.com/advisories/{{advisory.id}}">npm advisory</a>
    </footer>
</blockquote>
<h5>Affected repositories ({{len(affected[advisory.id])}})</h5>
<ul>
{% for repo, info in sorted(affected[advisory.id]) %}
    <li>
        {{repo_icons(repo)}}
        <a href="{{url_for('r', repo=repo.name, branch=repo.branch)}}">{{repo.name}}</a>
        (via:
        {%- for pkg in via(info.findings) -%}
        <a href="{{url_for('library_', manager='npm', name=pkg, branch=repo.branch)}}">{{pkg}}</a>{% if not loop.last %}, {% endif %}
        {%- endfor -%}
        )
    </li>
{% endfor %}
</ul>
{% endfor %}

{% endblock %}
