{% extends "base.html" %}
{% block subtitle %}vulnerabilities in npm dependencies{% endblock %}
{% block main %}
<h1>vulnerabilities in npm dependencies</h1>
<blockquote>
    <p>
        {% if advisories %}ugh{% else %}yay{% endif %}, npm.
    </p>
</blockquote>

<p>There are {{advisories|length}} npm security advisories affecting our repositories.</p>

{% for report in advisories.values() %}
{% set advisory = report.info %}
{% set repos = report.repos %}
<h3>#{{advisory.source}}: {{advisory.name}}</h3>
<p>Severity: {{advisory.severity}}</p>
<blockquote class="bg-{{COLORS[SEVERITIES.index(advisory.severity)]}}">
    {{advisory.title}}
    <footer>
        <a href="{{advisory.url}}">advisory</a>
    </footer>
</blockquote>
<h5>Affected repositories ({{repos|length}})</h5>
<ul>
{% for repo in repos|sort %}
    <li>{{macros.repo_link(repo)}}</li>
{% endfor %}
</ul>
{% endfor %}

{% endblock %}
