[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"

[packages]
requests = "*"
flask = "*"
flask-bootstrap = "*"
gunicorn = "*"
markdown = "*"
semver = "*"
celery = "*"
wikimediaci-utils = "*"

[requires]
python_version = "3.7"
