[Unit]
Description=libup run
After=rabbitmq-server.target

[Service]
User=libup
Group=libup
WorkingDirectory=/srv/libraryupgrader/
ExecStart=/home/libup/.poetry/bin/poetry run libup-run
PrivateTmp=true
