[Unit]
Description=libup run
After=rabbitmq-server.target

[Service]
User=libup
Group=libup
WorkingDirectory=/srv/libraryupgrader/
ExecStart=/srv/libraryupgrader/venv/bin/pipenv run libup-run
PrivateTmp=true
